psycopg2>=2.7,<3.0
gunicorn==20.0.4
# Django
# ------------------------------------------------------------------------------
django==2.2.6  # pyup: < 2.1  # https://www.djangoproject.com/
django-environ==0.4.5  # https://github.com/joke2k/django-environ
django-model-utils==3.1.2  # https://github.com/jazzband/django-model-utils
django-filter==2.0.0  # https://github.com/carltongibson/django-filter

# Django REST Framework
djangorestframework==3.10.3  # https://github.com/encode/django-rest-framework
coreapi==2.3.3  # https://github.com/core-api/python-client